//npm.pkg.github.com/:_authToken=1048520310190471b9aed6f976e13d249d8b8cb7
registry=https://npm.pkg.github.com/@melkored
registry=https://registry.npmjs.com/
@melkored:registry=https://npm.pkg.github.com