//npm.pkg.github.com/:_authToken=2559563eed1edfb702ce2bff65ee924ed906785e
registry=https://npm.pkg.github.com/@melkored
registry=https://registry.npmjs.com/
@melkored:registry=https://npm.pkg.github.com