//npm.pkg.github.com/:_authToken=ea428b5876a01fea47ab29c0458d1fe056b28df6
registry=https://npm.pkg.github.com/@melkored
registry=https://registry.npmjs.com/
@melkored:registry=https://npm.pkg.github.com